/*--------------- General ------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.horizontal-line{
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.label-icon{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.material-icons {
  color:rgb(161, 218, 123);
  font-size: 20px !important;
  padding-bottom: 0px !important;
  margin-right: 5px;
}

/*------------- Body ---------------------*/
.main-body{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}
/*-------------- About Me -----------------*/
.about-me{
  color: black;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 11px;
  padding: 10px 10px;
  flex: .75;
  height: 82vh;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  cursor: default;
  overflow-y: auto;
}

ol.hobby-list li:before { 
  flex: none; 
  list-style-type: none;
  padding: 0em 10px;
}
ol.hobby-list > li {
  flex: none; 
  list-style-type: none;
  font-weight: bold;
}
ol.hobby-list > li:before {
  flex: none; 
  list-style-type: none;
  font-weight: bold; 
}
ol.hobby-list ol {
  width: 100%; 
  flex: none; 
  list-style-type: none;
  padding: 0em 10px; 
  font-weight: normal;
}
/*-------------- Project List -----------------*/

.project-list{
  color: black;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 11px;
  font-weight: normal !important;
  padding: 10px 10px;
  flex: 3;
  height: 82vh;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  cursor: default;
  overflow-y: auto;
}
.get-projects{
  font-weight: normal !important;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.project-label{
  color:white ;
  border-radius: 5px;
  border-style: double;
  background-color:rgb(145, 228, 221);
  padding: 7px 7px;
}
.project-content{
  font-weight: normal !important;
  padding-left: 20px;
  margin-top: 10px;
}
.project-description{
  width: 400px;
}
.project-divider{
  margin-bottom: 20px;
}
#add-project-btn{
  float: right;
  margin-right: 5px;
  padding: 2px 5px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 400px;
}
.add-project-title {
  display: inline-block;
}
.add-project-title p {
  font-size: 12px;
}
#add-project-close{
  color: rgb(145, 228, 221);
  width: 25px;
  text-align: center;
  border: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgb(145, 228, 221);
  margin-left: 253px;
}
#add-project-close:hover,
#add-project-close:focus {
  color: white;
  width: 25px;
  text-align: center;
  border: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgb(106, 228, 218);
  background-color: rgb(106, 228, 218);
  margin-left: 253px;
  text-decoration: none;
  cursor: pointer;
}
#add-project-name{
  padding-left: 5px;
}
#add-project-description{
  width: 350px;
  height: 100px;
  padding: 5px 10px;
}
#add-project-submit{
  color:white;
  border-radius: 5px;
  border-style: double;
  background-color:rgb(145, 228, 221);
  padding: 10px 15px;
  margin-left: 290px;
  cursor: pointer;
}
#add-project-submit:hover{
  color:white;
  border-radius: 5px;
  border-style: double;
  background-color:rgb(136, 226, 219);
  padding: 10px 15px;
  margin-left: 290px;
  cursor: pointer;
}
.project-image{
  display:block;
  margin: 0 auto;
  width: 700px;
  height: auto;
}
/*-------------- Games -----------------*/

.games {
  color: black;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 11px;
  padding: 10px 10px;
  flex: .75;
  height: 82vh;
  box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
  cursor: default;
  overflow-y: auto;
}

/*------------- Scrollbars -------------*/

.about-me::-webkit-scrollbar-track, .project-list::-webkit-scrollbar-track, .games::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(241, 252, 233);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.about-me::-webkit-scrollbar, .project-list::-webkit-scrollbar, .games::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}
.about-me:hover::-webkit-scrollbar-thumb, .project-list:hover::-webkit-scrollbar-thumb, .games:hover::-webkit-scrollbar-thumb {
  background-color: rgb(135, 221, 214);
}
.about-me::-webkit-scrollbar-thumb, .project-list::-webkit-scrollbar-thumb, .games::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #B5D99C;
	background-color:rgb(145, 228, 221);
}