a:link{
    color: black;
    font-family: 'Ramabhadra', sans-serif;
    text-decoration: none;
}
#nav-bar{
    width: 100%;
    border-bottom: solid;
    border-bottom-width: .1px;
    border-color: rgb(218, 218, 218);
}
.nav-bar-h {
    width: 150px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
}
#logo{
    margin-top: -25px !important;
    width: 100px;
    height: auto;
}