#display-culprits img{
    margin-top: 20px;
    margin-left: 180px;
    animation-name: moveImage;
    animation-duration: 1s;
}

img:hover{
    cursor: pointer;
    opacity: 70%;
}

@keyframes moveImage{
    from{
        box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
        margin-left: 180px;
    }
    to{
        margin-left: 140px;
        box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
    }
}

#display-victim img{
    margin-top: 20px;
    cursor: default;
}

#shake{
    background-image: black;
    opacity: 30%;
}

#countdown{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: 'Ramabhadra', sans-serif;
}

#caught{
    position: absolute;
    right: 0;
    bottom: 0;  
}

#caught:hover{
    opacity: 100%;
    cursor: default;
}

#jail {
    position: absolute;
    right:0;
    bottom: 0;
    margin-right: 50px;
    opacity: 50%;
}

#jail:hover{
    opacity: 50%;
    cursor: default;
}

#culprit-name{
  font-size: 50px;
  background-color: white;
  border: solid;
  width: 900px;
  position:absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
